{% extends 'base/base.html' %}
{% load django_bootstrap5 %}

{% block titulo %}
    {% if form.instance.pk %}Editar{% else %}Criar{% endif %} Post
{% endblock %}

{% block conteudo %}
    <h1 class="blog-title mb-4">
        {% if form.instance.pk %}Editar{% else %}Criar{% endif %} Post
    </h1>

    <form method="post" class="vintage-form">
        {% csrf_token %}
        
        <div class="row">
            <div class="col-md-12">
                {% bootstrap_form form %}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <button type="submit" class="btn btn-vintage me-2">
                    Salvar Post
                </button>
                <a href="{% url 'lista_posts' %}" class="btn btn-secondary">
                    Cancelar
                </a>
            </div>
        </div>
    </form>
{% endblock %}